<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runningmate.runningmate.comment.domain.mapper.CommentReplyMapper">
    <resultMap id="commentReplyMap" type="com.runningmate.runningmate.comment.domain.entity.CommentReply">
        <id column="comment_reply_id"   property="commentReplyId"/>
        <result column="contents"       property="contents"/>
        <result column="create_date"    property="createDate"/>
        <result column="update_date"    property="updateDate"/>

        <association property="comment" javaType="com.runningmate.runningmate.comment.domain.entity.Comment">
            <id column="comment_id"         property="commentId"/>
        </association>

        <association property="user" javaType="com.runningmate.runningmate.user.entity.User">
            <id column="user_id"            property="userId"/>
            <result column="email"          property="email"/>
            <result column="nickname"       property="nickName"/>
        </association>
    </resultMap>

    <select id="selectCommentReplyByCommentReplyId" resultMap="commentReplyMap">
        SELECT
            c_r.comment_reply_id,
            c_r.comment_id,
            c_r.contents,
            c_r.create_date,
            c_r.update_date,
            u.user_id,
            u.email,
            u.nickname
        FROM comment_reply c_r
            JOIN user u ON c_r.user_id = u.user_id
        WHERE c_r.comment_reply_id = #{commentReplyId}
    </select>

    <insert id="insertCommentReply" useGeneratedKeys="true" keyProperty="commentReplyId">
        INSERT INTO comment_reply(comment_id, user_id, contents, create_date, update_date)
        VALUES(#{comment.commentId}, #{user.userId}, #{contents}, #{createDate}, #{updateDate})
    </insert>

    <update id="updateCommentReply">
        UPDATE comment_reply
           SET contents = #{contents}
             , update_date = #{updateDate}
         WHERE comment_reply_id = #{commentReplyId}
    </update>

    <delete id="deleteCommentReply">
        DELETE FROM comment_reply
        WHERE comment_reply_id = #{commentReplyId}
    </delete>
</mapper>