<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runningmate.runningmate.image.domain.mapper.ImageMapper">
    <select id="selectImage" resultType="com.runningmate.runningmate.image.domain.entity.Image">
        SELECT
            image_id
            , status
            , original_file_name
            , storage_file_name
            , create_date
            , update_date
        FROM image
        WHERE image_id = #{imageId}
    </select>

    <insert id="insertImage" parameterType="com.runningmate.runningmate.image.domain.entity.Image" useGeneratedKeys="true" keyProperty="imageId">
        INSERT INTO
            image (
                status
                , original_file_name
                , storage_file_name
                , create_date
                , update_date
            )
            VALUES (
                #{status}
                , #{originalFileName}
                , #{storageFileName}
                , #{createDate}
                , #{updateDate}
            )
    </insert>

    <update id="updateImage" parameterType="com.runningmate.runningmate.image.domain.entity.Image">
        UPDATE image
           SET status = #{status}
             , original_file_name = #{originalFileName}
             , storage_file_name = #{storageFileName}
             , update_date = #{updateDate}
    </update>
</mapper>